@page
@model RegisterModel

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="~/style.css" />

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="md-form mb-5">
                        <div class="form-group">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="md-form mb-5">
                        <div class="form-group">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="md-form mb-5">
                        <div class="form-group">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                    </div>
                </form>
            </div>
            <section>
                @{
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @{
                                    foreach (var provider in Model.ExternalLogins)
                                    {
                                        switch (provider.Name)
                                        {
                                            case "Google":
                                                <div class="flex-button jc-center">
                                                    <button type="submit" class="btn btn-google" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google"></i>   Login via Google</button>
                                                </div>
                                                break;

                                            case "Facebook":
                                                <div class="flex-button jc-center">
                                                    <button type="submit" class="btn btn-facebook" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-f"></i>   Login via Facebook</button>
                                                </div>
                                                break;
                                        }
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
                <p class="text-center">Have an account ? <a asp-area="identity" asp-page="login">Log In</a> </p>
            </section>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(() => {
       $("#modalRegisterForm").modal('show');});
</script>
<partial name="_ValidationScriptsPartial" />
}
